* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	max-width: 100%;
}

header {
  width: 100%;
	background-image: url(images/mobile/image-header.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.header-flex {
	display: flex;	
	width: 100%;
}

.logo-img {
	width: 30%;
	display: block;
	padding-top: 4%;
	margin-left: 3%;
}

.hamburger-container {
	text-align: right;
	padding-top: 4%;
	margin-left: 55%;
}

.hamburger-container:active {
	opacity: 0.7;
}

.header-button {
	background: transparent;
	border-width: 0;
	cursor: pointer;
}

.header-img {
	max-width: 100%;
	display: block;
}

.menu-container {
	visibility: hidden;
	font-family: 'Barlow', sans-serif;
	color: hsl(232, 10%, 55%);
	background-color: hsl(0, 0%, 100%);
	width: 85%;
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	position: absolute;
	top: 12%;
	right: 5%;
	left: 5%;
	padding: 5% 0;
}

.triangle-shape {
	width: 0;
  height: 0;
  border-bottom: 25px solid hsl(0, 0%, 100%);
  border-left: 25px solid transparent;
  position: absolute;
  top: -6.6%;
  bottom: 0; 
  right: 0;
}

.press {
	visibility: visible;
	transition: 0.5s easy-in-out;
}

.menu-container:hover {
	display: block;
}

.menu-container ul {
	padding: 5% 0;
}

.menu-container li {
	list-style: none;
	padding: 5% 0;
}

.menu-container a {
	margin: 0 auto;
	border-radius: 2rem;
	text-decoration: none;
	color: hsl(232, 10%, 55%);
	font-size: 1.1rem;
}

.first-a {
	padding: 5% 4%;
}

.second-a {
	padding: 5% 4%;
}

.third-a {
	padding: 5% 4%;
}

.fourth-a {
	padding: 5% 4%;
}


.menu-container a:hover {
	background: hsl(51, 100%, 49%);
	color: hsl(212, 27%, 19%);
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-size: 1rem;
}

h1 {
	font-family: 'Fraunces', serif;
	color: hsl(0, 0%, 100%);
	font-weight: 900;
	text-align: center;
	padding-top: 15%;
	padding-bottom: 10%;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
}

.arrow-img {
	width: 8%;
	padding-bottom: 30%;
	margin: 0 auto;
	display: block;
}

.first-section {
	padding-bottom: 15%;
}

.egg-img-mobile {
	width: 100%;
}

.egg-img-desktop {
	display: none;
}

h2 {
	font-family: 'Fraunces', serif;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 5%;
	font-size: 1.8rem;
	width: 80%;
	margin: 0 auto;
	font-weight: 900;

}

p {
	font-family: 'Barlow', sans-serif;
	color: hsl(232, 10%, 55%);
	width: 85%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.1rem;
	padding-bottom: 10%;
}

.link-container {
	text-align: center;
}

.learn-more-1 {
	border-width: 0 0 8px 0;
	border-radius: 4rem;
	border-color: rgba(250, 212, 0, 0.3);
	border-style: solid;
	cursor: pointer;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-weight: 900;
}

.second-section {
	padding-bottom: 15%;
}

.stand-out-img-mobile {
	width: 100%;
}

.stand-out-img-desktop {
	display: none;
}

.learn-more-2 {
	border-width: 0 0 8px 0;
	border-radius: 4rem;
	border-color: rgba(254, 120, 103, 0.3);
	text-decoration: none;
	border-style: solid;
	cursor: pointer;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	color: black;
	font-weight: 900;
}

.cherry-section {
	background-image: url(images/mobile/image-graphic-design.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cherry-h3 {
	color: hsl(167, 40%, 24%);
	font-family: 'Fraunces', serif;
	font-weight: 900;
	text-align: center;
	padding-top: 100%;
	font-size: 1.5rem;
}

.cherry-p {
	position: relative;
	color: hsl(167, 40%, 24%);
	text-align: center;
	line-height: 1.5rem;
	padding-top: 10%;
	padding-bottom: 18%;
	font-size: 0.9rem;

}

.orange-section {
	background-image: url(images/mobile/image-photography.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.orange-h3 {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	text-align: center;
	padding-top: 100%;
	color: hsl(198, 62%, 26%);
	font-size: 1.5rem;
}

.orange-p {
	text-align: center;
	line-height: 1.5rem;
	padding-top: 10%;
	padding-bottom: 18%;
	color: hsl(198, 62%, 26%);
	font-size: 0.9rem;
}

.testimonials-h3 {
	color: hsl(210, 4%, 67%);
	font-family: 'Fraunces', serif;
	text-align: center;
	padding: 12% 0;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	font-size: 1rem;
	opacity: 0.9;
}

.profile-1 {
	width: 18%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 8%;
}

.profile-2 {
	width: 18%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 8%;
}

.profile-3 {
	width: 18%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 8%;
}

.testimonials-p {
	color: hsl(213, 9%, 39%);
	line-height: 1.8rem;
}

.name-para {
	color: hsl(212, 27%, 19%);
	font-family: 'Fraunces', serif;
	font-weight: 900;
	padding-bottom: 3%;
}

.profession-para {
	color: hsl(210, 4%, 67%);
	font-size: 0.75rem;
}



.first-image-mobile {
	grid-area: first;
	display: block;
	width: 50%;
}

.first-image-dekstop {
	display: none;
}

.second-image-mobile {
	grid-area: second;
	display: block;
	width: 50%;
}

.second-image-dekstop {
	display: none;
}

.third-image-mobile {
	grid-area: third;
	display: block;
	width: 50%;
}

.third-image-dekstop {
	display: none;
}

.fourth-image-mobile {
	grid-area: fourth;
	display: block;
	width: 50%;
}

.fourth-image-dekstop {
	display: none;
}

.bottom-images {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 2;
	grid-template-areas: "first second"
	"third fourth";
}

footer {
	background-color: hsl(167, 40%, 24%);
}

.logo-footer {
	display: block;
	margin: 0 auto;
	padding-top: 10%;
}

.footer-links {
	text-align: center;
	padding: 10% 0;
	width: 100%;
}

.footer-links li {
	display: inline;
}

.footer-links li a {
	text-decoration: none;
	padding-right: 8%;
	padding-left: 8%;
	color: hsl(168, 34%, 41%);
	font-family: 'Barlow', sans-serif;
}

.footer-socials {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 10% 0;
}

.footer-socials li {
	list-style: none;
	display: inline;
	
}

.footer-socials li a {
	padding: 0 5%;
}

@media only screen and (min-width: 550px) {
	.hamburger-container {
		margin-left: 57%;
	}

	.triangle-shape {
		top: -5.5%;
	}

	.menu-container {
		top: 14%;
	}

	.menu-container a {
		font-size: 1.2rem;
		border-radius: 2.2rem;
	}

	.menu-container a:hover {
		font-size: 1.1rem;
	}
}

@media only screen and (min-width: 650px) {
	.triangle-shape {
		top: -5%;
	}
}

@media only screen and (min-width: 768px) {
	.hamburger-container {
		margin-left: 58%;
	}

	.triangle-shape {
		top: -4%;
	}

	.menu-container a {
		font-size: 1.3rem;
		border-radius: 2.5rem;
	}

	.menu-container a:hover {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 950px) {
	.triangle-shape {
		top: -%;
		border-bottom: 30px solid hsl(0, 0%, 100%);
  	border-left: 30px solid transparent;
	}

	.menu-container a {
		font-size: 1.5rem;
		border-radius: 3.2rem;
	}

	.menu-container a:hover {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 1024px) {
	header {
		background-image: url(images/desktop/image-header.jpg);
		width: 100%;
		background-size: 100% 100%;
	}

	.header-flex-desktop {
		display: flex;
		width: 100%;
		margin: 0 auto;
	}

	.header-flex {
		display: block;
	}

	.logo-img {
		padding-top: 6%;
		margin-left: 5%;
	}

	.hamburger-container {
		display: none;
	}

	.menu-container {
		visibility: visible;
		background-color: transparent;
		position: relative;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 3% 3% 3% 0;
		text-align: right;
	}

	.menu-container ul {
		padding: 0;
	}

	.menu-container ul li {
		display: inline;
		padding: 0;
	}

	.menu-container ul li a {
		color: hsl(0, 0%, 100%);
		font-size: 1.1rem;
		padding: 3% 3%;
	}

	.menu-container ul li a:hover {
		font-size: 1.1rem;
		background-color: hsl(0, 0%, 100%);
		color: hsl(212, 27%, 19%);
	}

	.triangle-shape {
		display: none;
	}

	h1 {
		padding-top: 5%;
		padding-bottom: 0%;
		font-size: 3rem;
		text-transform: uppercase;
	}

	.arrow-img {
		width: 3%;
		padding-bottom: 20%;
		padding-top: 5%;
		margin: 0 auto;
		display: block;
	}

	.first-section {
		display: flex;
		flex-direction: row-reverse;
		padding-bottom: 0;
	}

	.egg-img-cont {
		width: 100%;
	}

	.egg-img-mobile {
		display: none;
		
	}

	.egg-img-desktop {
		display: block;
		width: 100%;
	}

	.egg-img-text {
		width: 100%;
		padding: 0;
	}

	h2 {
		width: 60%;
		text-align: left;
		padding-top: 16%;
		font-size: 2rem;
	}

	p {
		width: 60%;
		text-align: left;
		font-size: 0.9rem;
		padding-bottom: 5%;
	}

	.link-container {
		text-align: left;
		width: 60%;
		margin: 0 auto;
	}

	.second-section {
		display: flex;
		padding: 0;
	}

	.glass-img-cont {
		width: 100%;
	}

	.stand-out-img-mobile {
		display: none;
	}

	.stand-out-img-desktop {
		display: block;
		width: 100%;
	}

	.glass-img-text {
		width: 100%;
	}

	.third-section {
		display: flex;
	}

	.cherry-section {
		width: 100%;
		background-image: url(images/desktop/image-graphic-design.jpg);
		background-size: cover;
		
	}

	.cherry-h3 {
		padding-top: 55%;
	}

	.cherry-p {
		padding: 5% 10%;
		width: 80%;
	}

	.orange-section {
		width: 100%;
		background-image: url(images/desktop/image-photography.jpg);
		background-size: cover;
	}

	.orange-h3 {
		padding-top: 55%;
	}

	.orange-p {
		padding: 5% 10%;
		width: 80%;
	}

	.fourth-section {
		padding-bottom: 8%;
	}

	.persons-flex {
		display: flex;
		width: 90%;
		margin: 0 auto;
	}

	.testimonials-h3 {
		padding-bottom: 5%;
	}

	.testimonials-p {
		text-align: center;
		width: 90%;
		padding-bottom: 12%;
	}

	.name-para {
		text-align: center;
	}

	.profession-para {
		text-align: center;
	}

	.second-person .name-para {
		margin-top: -2%;
	}

	.second-person .testimonials-p {
		margin-top: -2%;
	}

	.bottom-images {
		display: flex;
		width: 100%;
	}

	.first-image-dekstop {
		display: block;
		width: 25%;
	}

	.first-image-mobile {
		display: none;
	}

	.second-image-desktop {
		width: 25%;
		display: block;
	}

	.second-image-mobile {
		display: none;
	}

	.third-image-desktop {
		width: 25%;
		display: block;
	}

	.third-image-mobile {
		display: none;
	}

	.fourth-image-desktop {
		width: 25%;
		display: block;
	}

	.fourth-image-mobile {
		display: none;
	}

}

.attribution { 
	font-size: 11px; text-align: center;
	color: hsl(212, 27%, 19%); 
	font-family: 'Barlow', sans-serif;
	padding-bottom: 5%;
	padding-top: 10%;
}
    
.attribution a { 
	color: hsl(168, 34%, 41%); 
	text-decoration: none;
}

/* To simply change the color of the svg : Go to the svg file and under styles, mention the color in fill. <style>.cls-1{fill:#FFFFFF;}</style>*/